body{
    background-color: black;
    width: 100vw;
    height: 10vw;
    
}

.contenedor{

   background-color: aliceblue;
   margin-left: 46vw;
   margin-right: 46vw;
    display: flex;
    justify-content: center;
    margin-top: 15vw;
    overflow: hidden;
    
    
}


.rojo1{
    position: absolute;
    width: 2.6vw;
    height: 13vw;
    background: red;
    animation-name: uno;
    animation-duration: 2.5s; 
    visibility: hidden;
    animation-fill-mode: forwards;

   
    

}

@keyframes uno{
    0%{margin-top: 13vw; height: 0vw;}
    33%{margin-top: 0vw; height:  13vw;}
    100%{visibility: visible;}
    

}

.diagonal{
    position: absolute;
    width: 2.7vw;
    height: 13vw;
    background-color: rgb(255, 0, 0);  
    transform: skew(20deg);
    z-index: 2;
    animation-name: dos;
    animation-duration: 1.6s; 
    animation-delay: 0.3s;
    visibility: hidden;
    animation-fill-mode: forwards; 
    margin-left: 4.9vw; 
    box-shadow: -27px -16px 35px -7px rgba(0,0,0,0.78);
    
}

@keyframes dos {
    0%{margin-left: -0.2vw; height: 0vw;}
    33%{margin-left: -0.1vw; height: 0vw;} 
    100%{visibility: visible;} 
    
     
}

.rojo2{
    position: absolute;
    width: 2.6vw;
    height: 13vw;
    background-color: red;
    z-index: 3;
    animation-name: tres;
    animation-duration: 1s;
    animation-delay: 1.7s; 
    visibility: hidden;
    left: 55vw; 
    animation-fill-mode: forwards;
    
}

@keyframes tres{
    0%{margin-top: 13vw; height: 0vw;}
    100%{height:  13vw; margin-top: 0vw; visibility: visible;} 
}

.borde{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 10vw;
    height: 2vw;
    border-radius: 50%;
    position: absolute;
    top: 27.5vw;
    left: 48.3vw;
    z-index: 3; 
}