body {
    background: rgb(209, 96, 96);
    display: flex;
    align-items: center;
    flex-direction: column;
    font: 1em Arial;
    overflow: hidden;
}

#uno,
#dos,
#tres,
#cuatro,
#cinco {
    display: none;
    
}

#etiqueta{
    cursor: pointer;
}


.a {

    width: 40vw;
    height: 3vw;
    background-color: white;
    margin-top: 1vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
    overflow: hidden;
    transition: 0.3s;

}

#uno:checked ~ .a {
    height: 20vw;
}
.a .letra {
    font-size: 1.6vw;
    padding: 1.9vw;
    position: relative;
    top: -3vw;
    text-align: center;
}

.flecha {
    position: relative;
    left: 37vw;
    top: -4vw;

}

.flecha2 {
    
    position: relative;
    left: 37vw;
    top: -4vw;
}

.flecha3 {
    position: relative;
    left: 37vw;
    top: -4vw;
}

.flecha4 {
    position: relative;
    left: 37vw;
    top: -4vw;
}

.flecha5 {
    position: relative;
    left: 37vw;
    top: -4vw;
}





.b {
    width: 40vw;
    height: 3vw;
    background-color: white;
    margin-top: 1vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
    overflow: hidden;
    transition: 0.3s;
    

}

#dos:checked ~ .b {
    height: 20vw;
}



.c {
    width: 40vw;
    height: 3vw;
    background-color: white;
    margin-top: 1vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
    overflow: hidden;
    transition: 0.3s;
}

#tres:checked ~ .c {
    height: 20vw;
}

.d {
    width: 40vw;
    height: 3vw;
    background-color: white;
    margin-top: 1vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
    overflow: hidden;
    transition: 0.3s;
}

#cuatro:checked ~ .d {
    height: 20vw;
}

.e {
    width: 40vw;
    height: 3vw;
    background-color: white;
    margin-top: 1vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
    overflow: hidden;
    transition: 0.3s;
}

#cinco:checked ~ .e{
    height: 20vw;
}

.letraAzul {
    color: blue;
    font-size: 2vw;
    margin-top: 0.6vw;

}

